body {
    max-width: 480;
    font-family: 'Bebas Neue',sans-serif;
    font-size: 30px;
    /* background-image: url(https://images.unsplash.com/photo-1571219809844-438b2fd25536?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); */
    background-image: url(https://www.mobiles24.com/static/previews/downloads/default/331/P-584790-vKRGh1coee-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10px;
}

.headerContainer {
    height: 200px;
    width: auto;
}

h1 {
    font-family: 'Holtwood One SC', sans-serif;
    font-size: 80px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 5px;
    -webkit-text-stroke: 1px white;
	-webkit-text-fill-color: black;
}

h2 {
    margin-top: 1px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    color: black;
    font-size: 70px;
    /* animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    height: auto;
    width: auto; */
}

h3 {
    font-size: 40px;
    color: black;
    margin-bottom: 5px;
}

.utilities {
    margin-left: .8em;
    text-align: center;
}

button {
    font-family: 'Bebas Neue',sans-serif;
    font-size: 20px;
    background-color: #EDECCB;
    color: black;
    border-radius: 5px;
    border: 2px solid #1B1B1C;
    margin-bottom: 1em;

}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    height: 406px;
}
.square {
    border: 1px solid #F1F0D5;
    box-sizing: border-box;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 480px;
    background-color: #E3E1BB;
    border: solid 3px #1B1B1C;
    border-radius: 5px;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: whitesmoke;
    border: solid .5px black;
    box-sizing: border-box;
}

.miniGrid {
    margin-left: 30px;
    margin-top: 40px;;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color:#EDECCB;
    border: solid 3px #1B1B1C;
    border-radius: 5px;
}

.miniGrid div {
    height: 20px;
    width: 20px;
}
